/* Общие стили для всего документа */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MyFont;
    src: url("../font/Poppins-Regular.ttf");
}

@font-face {
    font-family: MyFont2;
    src: url("../font/Poppins-Thin.ttf");
}

/* Стили для фона и обертки */
html {
    width: 100%;
    height: 100%;
    background: url("../img/TravelTime.png") no-repeat center center;
    background-size: cover;
}

.wrapper {
    width: 100%;
    padding: 4% 15% 5% 10%;
}

/* Стили для навигации */
.nav ul {
    list-style-type: none;
    display: flex;
}

.nav li {
    padding: 0% 5% 0% 5%;
}

.nav a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "MyFont", "Ariya", sans-serif;
    /* font-family: Poppins; */
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin: 5% 10% 5% 10%;
}

/* Стили для контента */
.content {
    margin: 8% 5% 8% 10%;
}

.travel h1 {
    color: #fff;
    font-family: "MyFont", "Ariya", sans-serif;
    /* font-family: Poppins; */
    font-size: 96px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center p {
    color: #fff;
    text-align: center;
    font-family: "MyFont2", "Ariya", sans-serif;
    /* font-family: Poppins; */
    font-size: 24px;
    font-weight: 275;
    line-height: 1.167;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Стили для кнопки */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 33%;
}

.text {
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    background: #00B43D;
    border: 2px solid #FEE4E2;
    border-radius: 8px;
    padding: 1.5% 8%;
    cursor: pointer;
}

.text:hover {
    background: #0056b3;
    /* Измененный цвет фона при наведении */
}